# Hide the massive deployment folders
staticfiles/**/* linguist-vendored

# Force Python to be the dominant language by treating your JS files as Python
*.js linguist-language=Python
*.css linguist-detectable=true
