# Force Python to be the main language by lowering the weight of frontend files
*.html linguist-documentation=true
*.js linguist-detectable=true linguist-data=true
*.css linguist-detectable=true linguist-data=true
