
{%extends "base.html"%}
{%load static%}



{%block home_pagecontent%}
<!-- gray bg -->
<section class="container tm-home-section-1"
id="">

</section>

<!-- white bg -->
<section class="tm-white-bg section-padding-bottom">
<div class="container">
<div class="row">
<div class="col-md-11">

<form action="https://elegbede.pythonanywhere.com/makereservation/" method="POST">
{% csrf_token %}

{{dform.as_p}}
<input type=submit style="background: #FCDD44;color:black; width:130px; height:30px; border:solid 1px orange; border-radius:10px;"value ="Make reservation">
</form>

</div>



</div></div>
</section>






{%endblock%}